# Application
ENV=
PROJECT_NAME=
VERSION=
LOG_LEVEL=

# Database
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_POOL_SIZE=
POSTGRES_MAX_OVERFLOW=
POSTGRES_POOL_TIMEOUT=

# RabbitMQ
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASSWORD=

# Celery
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

# API
ALLOWED_ORIGINS=

# Kubernetes
KUBECONFIG=
DEFAULT_CLUSTER_TYPE=

# Prometheus
PROMETHEUS_URL=
