---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: chaos-exporter
  namespace: {{ namespace }}
  labels:
    app: chaos-monitor
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: chaos-exporter
  labels:
    app: chaos-monitor
rules:
  - apiGroups: ["litmuschaos.io"]
    resources: ["chaosengines", "chaosresults", "chaosexperiments"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["pods", "events"]
    verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: chaos-exporter
  labels:
    app: chaos-monitor
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: chaos-exporter
subjects:
  - kind: ServiceAccount
    name: chaos-exporter
    namespace: {{ namespace }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: chaos-monitor
  namespace: {{ namespace }}
  labels:
    app: chaos-monitor
spec:
  replicas: 1
  selector:
    matchLabels:
      app: chaos-monitor
  template:
    metadata:
      labels:
        app: chaos-monitor
    spec:
      serviceAccountName: chaos-exporter
      containers:
        - name: chaos-exporter
          image: litmuschaos/chaos-exporter:3.28.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
              name: http-metrics
          env:
            - name: WATCH_NAMESPACE
              value: ""
            - name: TSDB_SCRAPE_INTERVAL
              value: "10"
---
apiVersion: v1
kind: Service
metadata:
  name: chaos-monitor
  namespace: {{ namespace }}
  labels:
    app: chaos-monitor
spec:
  ports:
    - port: 8080
      protocol: TCP
      targetPort: 8080
      name: http-metrics
  selector:
    app: chaos-monitor
